<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315165501732-4c6g4nq6i1ft0svqhmvnuhb216e88dof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315165501732-4c6g4nq6i1ft0svqhmvnuhb216e88dof</string>
	<key>API_KEY</key>
	<string>AIzaSyC2jlf0PJfO6iE3OQkXLjobP7k2oDJLOwA</string>
	<key>GCM_SENDER_ID</key>
	<string>315165501732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beefit</string>
	<key>PROJECT_ID</key>
	<string>beefit-4cdb8</string>
	<key>STORAGE_BUCKET</key>
	<string>beefit-4cdb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315165501732:ios:93f3e0ca1670d743836bb1</string>
</dict>
</plist>